@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 241, 242);
  color: rgb(28, 25, 23);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}